Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Redirect index.php to main domain

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php [NC]
RewriteRule ^index\.php$ https://www.urlwebwala.com/ [R=301,L]

# Remove .php extension and redirect

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+([^.]+)\.php [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# Internally map requests without .php to actual .php files

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.\*)$ $1.php [L]

# Canonical redirect for all pages

RewriteCond %{HTTP_HOST} ^urlwebwala\.com [NC]
RewriteRule ^(.\*)$ https://www.urlwebwala.com/$1 [R=301,L]

# Handle requests for specific pages

RewriteRule ^about$ about.php [L]
RewriteRule ^career$ career.php [L]
RewriteRule ^developmentprocess$ developmentprocess.php [L]
RewriteRule ^services$ services.php [L]
RewriteRule ^web_development$ web_development.php [L]
RewriteRule ^mobile_app_development$ mobile_app_development.php [L]
RewriteRule ^digital_marketing$ digital_marketing.php [L]
RewriteRule ^graphics$ graphics.php [L]
RewriteRule ^testing$ testing.php [L]
RewriteRule ^digital_card$ digital_card.php [L]
RewriteRule ^hosting$ hosting.php [L]
RewriteRule ^support$ support.php [L]
RewriteRule ^portfolio$ portfolio.php [L]
RewriteRule ^contact$ contact.php [L]
